<div class="container my-5">
    <h2>Data Mahasiswa</h2>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>No</th>
          <th>Nama Mahasiswa</th>
          <th>Npm</th>
          <th>Fakultas</th>
          <th>Prodi</th>
        </tr>
      </thead>
      <tbody>
        <!-- Data Fakultas akan di-loop di sini -->
        <tr>
          <td>1</td>
          <td>Fitri Aulianisa</td>
          <td>2226240118</td>
          <td>Fakultas Ilmu Komputer dan Rekayasa</td>
          <td>Sistem Informasi</td>
        </tr>
      </tbody>
    </table>
  </div>
